.page {
    min-height: 100vh;
    width: 100%;
    float: left;
}

.banner {
    margin: 40px 0;
}

.new {
    text-align: center;
}

h1,
h2 {
    font-family: 'Merriweather',
        serif;
    color: teal;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 20px;
}

h2 {
    font-size: 22px;
    font-weight: 100;
}


.option {
    font-size: 40px;
}

.section {
    padding: 0 5%;
}

.social {
    margin: 20px 0 30px 0;
}

.section__left,
.section__right {
    margin: 0 15%;
    padding: 30px 10%;
    width: 70%;
    float: left;
    box-shadow: 0 0 80px 20px #cecece75;
    border-radius: 20px;
    background-color: #fff;
}

.button--primary {
    background-color: rgb(0, 128, 129) !important;
    color: #fff !important;
}

/* Styling for the request_form page */
.email_form {
    margin: 0 25%;
    height: 40vh;
    /* font-size:1.5em; */
    padding: 60px 10%;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 80px 20px #cecece75;
    border-radius: 20px;
    background-color: #fff;
}

.back_home {
    color: fff;
    text-decoration: none;
}
.back_home:hover{
    color:fff;
}

/* Create article styling */
.center_content{
    margin-left:40%;
    padding-top: 5%;
}
.article_width{
    width:60%;
    transform: translateX(-50%);
    margin-left:50%;
}